*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    font-variant: small-caps;
    text-align: center;
    color: rgb(228, 199, 34);
    text-shadow: 
    1px 1px black,
    1px -1px black,
    -1px 1px black,
    -1px -1px black
    ;
    margin-top: 50px;
    margin-bottom: 50px;
}
body{
  
    max-height: 80vh;
    background-color: black;
    background-image: url("img/fundo.png");
    background-repeat: no-repeat;
    background-size: cover;
    
    
}
.receitas-doces{
    display: none;
}
.receitas-salgados{
    display: none;
}
footer{

position: absolute;
bottom: 10px;
left: 50%;
transform: translateX(-50%);
display: flex;
gap: 10px;

    
}
footer p{
    font-variant: small-caps;
    text-align: center;
    background-color: white;
    width: 100px;
    padding: 10px;
    
}
footer p:hover{
    background-color: rgb(230, 204, 4);
    width: 100px;
    padding: 10px;
    
}
main{
    max-height: 70vh;
    display: flex;
    flex-flow: column nowrap;
    gap: 5px;
    width: 85vw;
    margin: 0 auto;
    overflow-y: scroll;
    
    
}
main::-webkit-scrollbar{
    display: none;
}
main h2{
    text-shadow: 1px 1px 1px black;
    color: white;
    font-variant: small-caps;
    font-size: 1.3em;
    
}
.img-logo{
    width: 100px;
    height: 80px;
}
.interface{
    border-radius: 15px 15px ;
    background-color: white;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    
}
.interface  button{
    align-self: center;
    padding: 8px;
    border-radius: 5px;
}
.interface  img{
    align-self: center;
    padding: 8px;
    border-radius: 5px;
}
.ingredientes{
    background-color: white;
    display: none;
   
}
.ingredientes ul{
    padding: 30px;
}
.ingredientes ol{
    padding: 30px;
}
